<div id="fullmenu-page">

    <header>
        <ul>
            <div {{action 'back'}}>
                <li class="hide-down"><span class = "glyphicon glyphicon-menu-down"></span></li>
            </div>
            <li class="text-center">FULL MENU</li>
        </ul>
    </header>
    <div class="menu-category scroll-part-x">
        <ul>
            <li>APPETIZERS</li>
            <li>SOUP</li>
            <li>MAIN COURSE</li>
            <li>BEVERAGE</li>
        </ul>
    </div>
    <div class="menu-detail">
        <ul>
            <li class="food-lists">
                <ul>
                <li><img class="img-rounded" src="/images/fullmenu/rice.jpg" alt="rice"></li>
                <li><p class="foodname">White Rice</p></li>
                <li>
                    <p class="price">$1.50</p>
                    <button class="btn btn-primary btn-sm">+ ADD</button>
                </li>
            </ul>
            </li>
            <li class="food-lists">
                <ul>
                <li><img class="img-rounded" src="/images/fullmenu/brownrice.jpg" alt="rice"></li>
                <li><p class="foodname">Brown Rice</p></li>
                <li>
                    <p class="price">$1.50</p>
                    <button class="btn btn-primary btn-sm">+ ADD</button>
                </li>
            </ul>
            </li>
            <li class="food-lists">
                <ul>
                <li><img class="img-rounded" src="/images/fullmenu/fuqifeipian.jpg" alt="rice"></li>
                <li><p class="foodname">Sliced Roast Beef&Tendon</p></li>
                <li>
                    <p class="price">$7.50</p>
                    <button class="btn btn-primary btn-sm">+ ADD</button>
                </li>
                </ul>
            </li>
            <li class="food-lists">
                <ul>
                <li><img class="img-rounded" src="/images/fullmenu/liangfen.jpg" alt="rice"></li>
                <li><p class="foodname">Green Bean Jello W.Chili</p></li>
                <li>
                    <p class="price">$6.75</p>
                    <button class="btn btn-primary btn-sm">+ ADD</button>
                </li>
                </ul>
            </li>
            <li class="food-lists">
                <ul>
                <li><img class="img-rounded" src="/images/fullmenu/chaoshou.jpeg" alt="rice"></li>
                <li><p class="foodname">Wonton W.Spicy Chili Sauce</p></li>
                <li>
                    <p class="price">$5.75</p>
                    <button class="btn btn-primary btn-sm">+ ADD</button>
                </li>
                </ul>
            </li>
            <li class="blank-area">
            </li>
        </ul>
    </div>
    <footer>
        {{#link-to 'cart'}}
            <p>GO TO CART</p>
        {{/link-to}}
    </footer>
</div>