<div id="account-page">
<header>
	{{#link-to 'sidemenu'}}
	 <span class="menu glyphicon glyphicon-menu-hamburger"></span>
	 {{/link-to}}
	<p>Account</p>
</header>
<div class="brief-info">
<div class="avatar"><img src="images/avatar_eli.jpg" alt="avatar"></div>
<div class="info">
<ul>
	<li class="name">Elizabeth</li>
	<li class="email">elizabeth@gmail.com</li>
</ul>
</div>
</div>
<ul class="what-to-do">
	<li>My Address<span class="glyphicon glyphicon-menu-right"></span></li>
	<li>My Payment Method<span class="glyphicon glyphicon-menu-right"></span></li>
	<li>Contact Us<span class="glyphicon glyphicon-menu-right"></span></li>
</ul>
<div class="logout">Log Out</div>
</div>