<div id="payment-page">
    <header>
        {{#link-to 'cart'}}
            <span class="glyphicon glyphicon-menu-left"></span>
        {{/link-to}}
            <div>Confirm Purchase</div></header>
    <div class="choose-payment">
        <p>Payment</p>
        <p>CHOOSE&nbsp;&nbsp;&nbsp;&nbsp;<span>></span></p>
    </div>
    <div class="payment-info">
        <ul>
            <li>

                <p>Phone Number&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <input type="text" value="" placeholder="123-444-5555">
            </li>
            <li>
                <p>CHOOSE PICK-UP TIME</p>
                <p class="restaurant-name inline-style">QQ Noodle</p>
                <p class="inline-style">SELECT&nbsp;&nbsp;&nbsp;&nbsp;<span>></span></p>
            </li>
            <li>
                <p class="item">Subtotal:</p>
                <p class="amount">$3.95</p>
            </li>
            <li>
                <p class="item">State&Local Tax:</p>
                <p class="amount">$0.29</p>
            </li>
            <li>
                <p><strong>Total:</strong></p>
                <p class="amount border"><strong>$4.24</strong></p>
            </li>
        </ul>
    </div>
    <footer><button class="btn btn-primary btn-lg btn-block">PLACE ORDER</button></footer>
</div>
