<div id="restaurant-page">
    <header>
        <nav>
            {{#link-to 'discover'}}
                <span class="back"> Back</span>
            {{/link-to}}
            <div class="zipcode">
                <p>94539 </p>
                <p>Fremont, CA</p>
            </div>
            {{#link-to 'cart'}}
                <span class="cart glyphicon glyphicon-shopping-cart"></span>
            {{/link-to}}
        </nav>
    </header>
    <section class="restaurant-intro">
        <img src="/images/hotpot.jpg" />  
        <div>
            <p class="restaurant-name">Boiling Point</p>
            <p>Taiwanese, Hotpot, Milktea</p>
            <p>TODAY: 11:00 AM -- 11:00 PM</p>
        </div>
    </section>
    <section class="information">
        <p>Information</p>
        <p>Accept Credit Card: Visa/Mastercard/Discover</p>
        <p>Phone: (510)498-8896</p>
        <p>Website: http://www.bpgroupusa.com</p>
        <p class="location">46807 Warm Springs Blvd, Fremont, CA 94539</p>
        <img src="/images/map.jpg" />
    </section>
    <section class="comments">
        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
        <p>Comments</p>
        <p>Tim: Awesome hotpot and milktea!</p>
        <p>Nick: Best little hotpot in Bayarea!</p>
        <a href="comments.html">All Reviews</a>
    </section>
    <footer>
        <nav>
            {{#link-to 'fullmenu'}}FULL MENU{{/link-to}}
        </nav>
    </footer>
</div>