<div id="search-page">
    <nav>
		{{#link-to 'sidemenu'}}<button class="navbar-toggle"></button>{{/link-to}}
    </nav>
    <div>
        <h3>RUHungry</h3>
        <p>Dilicious Food Delivered Quickly</p>
        <div id="find-restaurant">
            <p>Your Zipcode</p>
            <input type="text" value="" placeholder="94085" class="form-control input-sm" />
            <p>What Restaurant Would You Like?</p>
            <input type="text" value="" placeholder="QQ Noodle" class="form-control input-sm" />
            {{#link-to 'discover'}}<button class="btn btn-primary">Find</button>{{/link-to}}
        </div>
    </div>
</div>